@charset "utf-8";

/*Paleta de cores
    amarelo: #ffd319
    laranja: #ec8d75
    vermelho-rosado: #ff2975
    rosa: #f222ff
    roxo azulado: #8c1eff
*/
@media screen and (min-width: 769px) and (max-width: 992px) {
  body {
    background-image: linear-gradient(#8c1eff, #f222ff, #ff2975);
  }
  section#login {
    width: 80vw;
    height: 450px;
  }
  section#login > div#imagem {
    float: left;
    width: 30%;
    height: 100%;
  }
  section#login > div#formulario {
    float: right;
    width: 70%;
  }
  div.fotinha {
    display: block;
    background: url(../images/synthwavecar.png) no-repeat center center;
    background-size: contain;
    height: 179px;
    transform: translate(15%, 160%);
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  body {
    background-image: linear-gradient(#ff2975, #ec8d75, #f222ff);
  }
  section#login {
    width: 950px;
  }
  section#login > div#imagem {
    float: left;
    width: 50%;
    height: 100%;
  }
  section#login > div#formulario {
    float: right;
    width: 50%;
  }
  div#formulario > h1 {
    font-size: 2.1em;
  }
  div#formulario > p {
    font-size: 1.1em;
  }
  div.fotinha {
    display: block;
    background: url(../images/synthwavecar.png) no-repeat center center;
    background-size: contain;
    height: 200px;
    transform: translate(25%, 163%);
  }
}

@media screen and (min-width: 1200px) {
  body {
    background-image: linear-gradient(to top, #3c29ff, #9a34eb, #ff3df4);
  }
  section#login {
    width: 1000px;
    height: 600px;
  }
  section#login > div#imagem {
    float: right;
    width: 50%;
    height: 100%;
  }
  section#login > div#formulario {
    float: left;
    width: 50%;
  }
  div#formulario > h1 {
    font-size: 2.2em;
  }
  div#formulario > p {
    font-size: 1.2em;
  }
  div.fotinha {
    display: block;
    background: url(../images/synthwavecar.png) no-repeat center center;
    background-size: contain;
    height: 200px;
    transform: translate(-25%, 190%);
  }
}
