@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
/*Paleta de cores
    amarelo: #ffd319
    laranja: #ff901f
    vermelho-rosado: #ff6b9f
    rosa: #f559ff
    roxo azulado: #e9425b
*/

/*Mobile First */
* {
  font-family: "Open Sans", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body,
html {
  height: 100vh;
  width: 100vw;
  /*background-image: linear-gradient(#ff6b9f, #f559ff, #e9425b);*/
}
main {
  position: relative;
  height: 100vh;
  width: 100vw;
}
section#login {
  position: absolute;
  top: 50%;
  left: 50%;

  /* Revisar a parte de posicionamento com top, left, transform e position */
  /*alterado*/
  background-color: #f0f0f0;
  width: 350px;
  height: 515px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.582);
  transition: width 0.3s, height 0.3s;
  transition-timing-function: ease;
  transform: translate(-50%, -50%);
}
section#login > div#imagem {
  display: block;
  background: #084d61 url(../images/syntwaveperson.png) no-repeat center center;
  background-size: cover;
  height: 200px;
}
section#login > div#formulario {
  display: block;
  padding: 10px;
}

/*alterado*/
div#formulario > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
  font-weight: 500;
  color: #303030;
}
div#formulario > p {
  font-size: 0.8em;
  color: #5a5a5a;
}

form > div.campo {
  background-color: #307b81;
  border: 2px solid #307b81;
  width: 100%;
  display: block;
  height: 40px;
  border-radius: 8px;
  margin: 100px 0px;
  margin-top: 8px;
  margin-bottom: 2px;
}
div.campo > label {
  display: none;
}
div.campo > span {
  color: #f0f0f0;
  font-size: 2em;
  width: 40px;
  padding: 5px;
}
div.campo > input {
  background-color: #f2f2f2;
  font-size: 1em;
  width: calc(100% - 41px);

  height: 100%;
  border: 0px;
  border-radius: 8px;
  padding: 4px;
  transform: translate(41px, -42px);
}
div.campo > input:focus-within {
  background-color: #f0f0f0;
}
form > div > input[type="submit"] {
  display: flex;
  font-size: 1em;
  width: 100%;
  height: 40px;
  background-color: #307b81;
  color: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  justify-content: space-between;
}
form > div > input[type="submit"]:hover {
  background-color: #e9425b;
}

form > a.botao {
  margin-top: 10px;
  padding: 7px;
  display: block;
  font-size: 1em;
  width: 100%;
  height: 40px;
  text-align: center;
  color: #e9425b;
  background-color: #f0f0f0;
  border: 1px solid #e9425b;
  border-radius: 5px;
  text-decoration: none;
}

form > a.botao:hover {
  color: #f0f0f0;
  background-color: #e9425b;
}
div.fotinha {
  display: none;
}

/* alteracoes -- lizzie */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.link {
  text-decoration: none;
}

#formulario {
  margin-top: 1.5em;
}

.entrar {
  margin-bottom: 5px;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.esqueci {
  max-width: 125px;
}

.entraresqueci {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 40px;
  max-height: 55px;
  /*margin-top: px;*/
}

main {
  background: rgb(8, 77, 97);
  background: linear-gradient(
    180deg,
    rgba(8, 77, 97, 1) 0%,
    rgba(48, 123, 129, 1) 35%,
    rgba(117, 108, 133, 1) 50%,
    rgba(233, 66, 91, 1) 100%
  );
}
