@charset "utf-8";
/* todo tipo de tela */

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
    background-size: contain;
}
h1{
    color: whitesmoke;
    text-shadow: 2px 2px 0px #1627a3;
    padding: 10px;
}